body  {
    background-image: url("https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?cs=srgb&dl=pexels-li-sun-2294361.jpg&fm=jpg");
    background-color: #cccccc;
    background-size: cover;
    width: 850px;
    height: auto;
    margin: auto;
  }
